<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spaceMarine.mapper.ItemMapper">
	<select id="getList" resultType="com.spaceMarine.vo.ItemVO">
		<![CDATA[
			select IMPA_CD, ITEM_NM_KO, ITEM_NM_EN, UNIT, ADD_COL1 from item
		]]>
	</select>

	<!-- 페이징 처리 -->
	<select id="getListWithPaging"
		resultType="com.spaceMarine.vo.ItemVO">
		SELECT * from item WHERE
		IMPA_CD > 0
		<if test="type == 'T'.toString()">
			and ITEM_NM_KO like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'T'.toString()">
			and ITEM_NM_EN like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'T'.toString()">
			and ITEM_NM_SP like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'T'.toString()">
			and ITEM_NM_JP like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'T'.toString()">
			and ITEM_NM_CN like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'T'.toString()">
			and ITEM_NM_RS like concat('%',#{keyword},'%')
		</if>
		<if test="type == 'C'.toString()">
			and IMPA_CD like concat('%',#{keyword},'%')
		</if>
		LIMIT 0,15
	</select>


	<!-- 전체 데이터 개수 -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM item WHERE
		IMPA_CD > 0
	</select>




</mapper>